.whole{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  margin-top: 5%;
  width:820px;
  height:390px;
  padding: 0px 10px;
}
.whole:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
